body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../img/3.jpg");
    font-size: cover;
    overflow-x: hidden;
    
}
nav{
    background:linear-gradient(57deg,#0f556631,#45dfbd59);
    position: fixed;
    width: 99%;
    margin-top: -20px;
    padding: 5px; 
    text-transform: uppercase;
}
ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
ul li {
    padding: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}
ul li a {
    text-decoration: none;
    color:#fff;
    padding: 7px;
    border-radius: 5px;
}
ul li a:hover {
    background-color: rgb(168, 143, 192);
    font-size: 20px;
}
footer {
    background: #000;
    padding: 10px;
    text-align: center;
    color: rgb(31, 139, 172);
}
h1 {
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    margin-top: -8px;
    color:rgb(202, 40, 40)
   
}
.box-text{
    display: flex;
    margin: 50px;
}
.maintext{
    display: flex;
    justify-content: center;
    padding: 90px;
    width: 90%;
    
}
.text{
 
    width: 50%;
    height: 50vh;
    background-color: rgb(0, 0, 0,0.3);
    border-radius: 10px;
    text-align: center;
    color: darksalmon;
    font-size: 50px;
    font-family: x-large;
}
.name{ 
    margin-right: 69%;
    margin-top: -65px;
    color:rgb(28, 31, 31);
}
.icon a{
    margin:5px;
}
@media(max-width:500px){
    .text{
        font-size: 30px;
        height: auto;
    }
   body{
       background-repeat: no-repeat;
       width: 100%;
       height: 100vh;
   }
   footer{
       margin-top: 30vh;
       width:100vh ;
   }
}
